body {
	background-color:black;
	color: white;
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

.clear {
    clear: both;
}

/*header--------------*/
header { 
    display: block;
    box-sizing: border-box;
    background-color: #022d5c;
    position: relative;
    margin-bottom: 5px;
}

header a {
    color: white;
    text-decoration: none;
}

header a.headerTitle {
    font-weight: bold;
    font-size: 24px;
    position: relative;
    display: inline-block;
    padding: 10px 0px 10px 40px;
}

header div {
    position: absolute;
    right: 40px;
    top: 10px;
}

header img.hamburger {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    box-sizing: border-box;
    background-color: black;
}

header nav {
    display: none;
}

.showNav nav {
    display: block;
    position: absolute;
    right: calc(-100% - 10px);
    top: calc(100% + 4px);
    z-index: 999;
    width: 150px;
}

header nav a {
    display: block;
    background-color: #022d5c;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    padding-right: 0px;
}

header nav img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    padding-left: 10px;
}


/*footer--------------*/
footer {
    text-align: center;
    background-color: #022d5c;
    padding: 10px;
    margin-top: 5px;
}

footer.bottomFooter {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    bottom: 0px;
}


/*index--------------*/
body.index {
  
}

body.index img {
    position: absolute;
    width: 60%;
    top: 170px;
    right: 0px;
    left: 0px;
    z-index: -1000;
    display: block;
    margin: auto;

}


body.index div.titleDiv, body.index div.btnDiv {
    padding-left: 40px;
}

body.index div.titleDiv {
    text-shadow: 1px 1px black;
    margin-top: 45px;
}

body.index div.btnDiv {
    margin-top: 250px;
}

body.index div.btnDiv a {
    float: left;
    margin-right: 5px;
}


body.index .btnSecond {
    width: 160px;
}

/*--------------list*/

div#container {
	min-height: 800px;
}

div.listContainer {
	margin:auto;
	text-align: center;
}

div.videoListItem {
	display: inline-block;
    margin: auto;
    color: white;
    background-color: #313131;
	text-align:center;
	border: 1px solid white;
	overflow: hidden;
    
	
	width: 80%;
	max-width: 200px;
    border-radius: 2px;
    box-sizing: border-box;

    position: relative;
    top: 0px;
	box-sizing: border-box;
	
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 20px;
	margin-right: 20px;
	
}

div.videoListItem a.aListItem {
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
	padding: 5px;
	box-sizing: border-box;
}


div.videoListItem span {
	display: block;
	overflow: hidden;
	height: 18px;
}


img.imgThumb {
	width: 140px;
	height: 200px;
}

img.imgIcon {
    width: 20px;
    height: 20px;
}

div.videoListItem a.editShortcut {
    display: none;
    text-decoration: none;
    background-color: grey;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 5px;

    position: absolute;
    top: 0px;
    right: 0px;
}

div.videoListItem:hover a.editShortcut {
    display: block;
}

/*ad*/
div.adMobileLeaderboard {
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid white;
    width: 320px;
    height: 50px;
    margin: auto;
}

div.adMobileLeaderboard img {
    width: 100%;
    height: 100%;
}


/*play--------------*/

body.viewIframe {
	width: 100%;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
}



body.viewIframe video, body.viewIframe iframe {
	width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
}

/*btn--------------*/
.btnPrim {
	display: block;
    color: white;
    text-decoration: none;
    width: 100px;
   	background-color: red;
    padding: 20px;
    border-radius: 10px;
   	margin: 20px auto;
	text-align: center;
	border: 2px solid white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.btnSecond {
	display: block;
    color: white;
    text-decoration: none;
    width: 100px;
   	background-color: unset;
    padding: 20px;
    border-radius: 10px;
   	margin: 20px auto;
	text-align: center;
	border: 2px solid white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    background-color: #252525;
}

.btnPrim.btnGray {
	background-color: #b5b5b5;
    color: black;
} 

.btnPrim.btnBlue {
	background-color: #44acff;
} 

.btnPrim.btnGreen {
	background-color: #236626;
} 

.btnPrim.btnR {
	width:70px;
	margin-right: 0px;
} 

.btnPrim.btnFix {
	position: fixed;
    right: 20px;
    bottom: 0px;
} 

.btnFloat {
	position: fixed;
   	right: 30px;
    bottom: 25px;
    width: unset;
    padding: 10px;
	padding-bottom: 5px;
    height: unset;
}


/*panel--------------*/
article.contPanel {
	width: 80%;
	margin: auto;
}

div.videoPanelItem {
	display: block;
    margin: auto;
	
	width: 100%;
	max-width: 400px;
	height: 120px;


    position: relative;
	padding: 5px;
	box-sizing: border-box;
	
	margin: auto;
	margin-top: 25px;
}

div.videoPanelItem a {
    text-decoration: none;
    color: white;
}

div.videoPanelItemMain {
	display: block;
    background-color: #565656;
	
	width: 88%;
	height: 100%;


    position: relative;
	padding: 5px;
	box-sizing: border-box;
    float:left;

	margin-top: 25px;
}



div.videoPanelItemMain:hover {
	background-color: #3f435a;
}



div.videoPanelItem img {
	width: 70px;
    height: 100%;
    box-sizing: border-box;
    display: block;
}



div.videoPanelItem span {
	display: block;
    position: absolute;
    top: 15px;
    right: 5px;
    left: 80px;
	height: 20px;
	overflow-x: hidden;
}

div.videoPanelItem span.spanUploadDate {
    top: 40px;
    font-size: 14px;
    color: #e1e1e1;
}


h1.secTitle {
    text-decoration: underline;
    padding-left: 20px;
}

div.videoPanelItemSide {
	display: block;
	width: 10%;
	height: 100%;


    position: relative;
	box-sizing: border-box;
    float:right;
	
	margin-top: 25px;
}

div.videoPanelItemSide a {
    position: relative;
    display: block;
	width: 100%;
    height: 50%;
}

div.videoPanelItemSide a img {
    position: absolute;
    display: block;
	width: 60%;
    height: 60%;
    right: 0px;
    left: 0px;
    margin: auto;
}

div.videoPanelItemSide a img.upArrow {
    top: 10px;
} 

div.videoPanelItemSide a img.downArrow {
    bottom: 10px;
}



/*edit--------------*/

div#formContainer {
	background-color: #4a4a4a;
    padding: 5px;
	box-sizing: border-box;
	max-width: 700px;
	margin: auto;
}

div#formContainer h3 {
	margin: 0px;
	margin-bottom:10px;
}

div#formContainer textarea {
	width: 90%;
    box-sizing: border-box;
    margin: 5px 0px;
    display: block;
}

div#formContainer button {
	margin: 10px auto 5px auto;
    display: block;
}


div#formContainer + div#formContainer {
	margin-top:30px;
}

form#formEdit input[type=text], textarea {
	width:100%;
	box-sizing: border-box;
	margin-bottom: 15px;
}

form#formEdit input[type=text] {
	
}

form#formEdit textarea {
	resize: none;
	height: 100px;
}


label.deleteLabel {
	display: block;
    margin-top: 30px;
}

label.deleteLabel + a {
	display: none;
}

img.icoAdd {
 width: 30px;
}

span.noVideos {
    display: block;
    padding: 20px 0px 20px 0px;
    width: 100%;
    text-align: center;
}

/*login--------------*/

form.formBasic { 
    width: 100%;
    max-width: 260px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 10px;
}

form.formBasic input[type=text],
form.formBasic input[type=password],
form.formBasic input[type=email],
form.formBasic label { 
    display: block;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form.formBasic input[type=text],
form.formBasic input[type=password],
form.formBasic input[type=email] { 
    width: 100%;
    padding: 4px;
}

form.formBasic label { 
    font-weight: bold;
    margin-bottom: 5px;
}

form.formBasic span { 
    display: block;
    margin: auto;
    box-sizing: border-box;
    color: red;
    width: 100%;
    text-align: center;
}

form#formSettings table {
    margin: auto;
    width: 100%;
    max-width: 300px; 
}

form#formSettings table td {
    padding: 10px;
}



